@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    h1 {
        @apply text-[50px];
    }

    body {
        font-family: "Rubik", sans-serif;
    }
}

/* utilities dung de them cac class ko co trong tailwind */
@layer utilities {
    /* @responsive { */
    @variants reponsive {
        .scroll-snap-mandatory {
            scroll-snap-type: x mandatory;
        }

        .scroll-snap-always {
            scroll-snap-stop: always;
        }

        .scroll-snap-start {
            scroll-snap-align: start;
        }
    }
}


/* VD ở 1 file .css hay .sass khác */
.grid-layout {
    @apply grid auto-cols-[90%] grid-flow-col overflow-x-auto scroll-snap-mandatory scroll-snap-always gap-x-5 lg:text-right
}